    <html>
        <head>
            <title>Django blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Blog</a></h1>
            </div>

            <div>
                <p>published: 23.09.2017, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>It's my first post..</p>
            </div>

            <div>
                <p>published: 23.09.2017, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>It's my second post.</p>
            </div>
        </body>
    </html>